
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
<head>
 

</head>

<body>

    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5 class="side-bar-title">Side Bar Div</h5>
      <ul class="side-nav">
        <h4> Profile Info?</h4>
        <%= link_to "Sign In", signin_path %> or
        <%= link_to "Sign Up", signup_path %>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>

      <div class="panel">
<h4>Event Info?</h4>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->